@font-face {
  font-family: "iconfont"; /* Project id 3623914 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1669790963757') format('woff2'),
       url('iconfont.woff?t=1669790963757') format('woff'),
       url('iconfont.ttf?t=1669790963757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban:before {
  content: "\e618";
}

.icon-bilibingtu:before {
  content: "\e60a";
}

.icon-zhexiantu:before {
  content: "\e685";
}

.icon-zhuzhuangtu:before {
  content: "\e630";
}

.icon-lunbobiaoge:before {
  content: "\e66e";
}

.icon-jindu:before {
  content: "\ecac";
}

.icon-tupian:before {
  content: "\e617";
}

.icon-qiapian:before {
  content: "\e6b8";
}

.icon-zhuye:before {
  content: "\e710";
}

.icon-denglu:before {
  content: "\e60d";
}

